<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>AShape</string>
		<string>Main</string>
		<string>Parallelogram</string>
		<string>Puzzle</string>
		<string>PuzzlePanel</string>
		<string>Square</string>
		<string>Triangle</string>
	</array>
	<key>Created</key>
	<date>2011-11-25T21:58:54Z</date>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
